; Define user.email here so it doesn't get committed to the repo accidentally
[user]
;    email = # uncomment and fill this in

; Commit Signing
[commit]
    gpgSign = true
[tag]
    gpgSign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.gitallowedsigners
[user]
    signingKey = ~/.ssh/id_ed25519

; Include per-directory configuration
;[includeIf "gitdir:~/projects/work/"]
;    path = ~/.gitconfig.local.work

; vi: set ts=4 sw=4 et ft=gitconfig:
