; Include work config first
[includeIf "gitdir:~/projects/"]
    path = ~/.gitconfig.local.work

; Then include "me" config again since it's a subdirectory
[includeIf "gitdir:~/projects/_me/"]
    path = ~/.gitconfig.local.me

; vi: set ts=4 sw=4 et ft=gitconfig:
